div(ng-controller='sidebarCtrl')
  div(
    ng-include='"modules/layout/views/layout.form.html"'
    ng-show='sidebar.show == "layout"'
  )
  div(
    ng-include='"modules/trackManager/views/heatmap.form.html"'
    ng-show='sidebar.show == "heatmap"'
  )