.modal-header
    h3.modal-title Layout data formats
.modal-body
  p Your file should be a table of records. Each record correponds to a 
    b layout block
    | that should contain 4 fields corresponding to:
    ul
      li The id of the layout block (this id will be used in tracks data) [string]
      li The length of the block [integer]
      li The label of the block [string]
      li The color of the block in a css readable format (#76a4e3 or rgb(255,255,0)) [string]
  tabset(justified='true')
    tab.myTabs(heading='yml')
      .myTabsContent
        pre.myCode
          code
            | - len: 1000
            |   color: "rgb(255,255,0)"
            |   label: "0"
            |   id: "0"
            | - len: 1000
            |   color: "rgb(153,102,0)"
            |   label: "1"
            |   id: "1"
            | ...
    tab.myTabs(heading='csv')
      .myTabsContent
        pre.myCode
          code
            | Coming soon
            | ...
    tab.myTabs(heading='tsv')
      .myTabsContent
        pre.myCode
          code
            | Coming soon
            | ...
    tab.myTabs(heading='dsv ";"')
      .myTabsContent
        pre.myCode
          code
            | Coming soon
            | ...
    tab.myTabs(heading='dsv " "')
      .myTabsContent
        pre.myCode
          code
            | Coming soon
            | ...
.modal-footer
    button.btn.btn-warning(ng-click='cancel()') Cancel
