form
  .modal-header
    h3.modal-title Help
  .modal-body
    h4 What is Easy Circos?
    p 
      | Easy Circos is an online tool to build Circos images (see 
      a(hre='www.circos.ca', target='_blank') www.circos.ca
      | ). 
      | It's 100% free and open source (https://github.com/nicgirault/easyCircos). 
      | Easy Circos uses a d3js library named 
      a(href='https://github.com/nicgirault/circosJS', target='_blank') circosJS
      |  to render circos images.
    h4 What about data privacy?
    p Easy Circos is a client side application. It uses your browser to render 
      | images. So your data does not leave your computer:
      | don't worry about privacy issues.
    h4 This project is cool, how can I help?
    p As a user, your feedback is super important. Please, take the time to fill 
      a(href='https://docs.google.com/forms/d/1BQP-hnRP-eHL6_EUXWtitTF3CSZaZSpewsnalzot6wM/viewform?usp=send_form' target='_blank') this form. 
      | If you're a developer and you want to help, you're more than welcome. You can contact me.
    h4 Contact
    p nic.girault+easycircos@gmail.com
  .modal-footer
    button.btn.btn-warning(ng-click='cancel()') Cancel
