div(ng-controller='trackCtrl')
  div(ng-switch='currentForm')
    div(ng-switch-when='layout')
      div(ng-include='"modules/layout/views/layout.form.html"')
    div(ng-switch-when='heatmap')
      div(ng-include='"modules/trackManager/views/heatmap.form.html"')
    div(ng-switch-when='chords')
      div(ng-include='"modules/trackManager/views/chords.form.html"')