.modal-header
  h3.modal-title Select a track type
.modal-body
  .container-fluid.track-types
    .row
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('heatmap')")
          img(src="img/heatmap-small.png")
          p Heatmap
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('histogram')")
          img(src="img/histogram-small.png")
          p Histogram
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('chords')")
          img(src="img/chords-small.png")
          p Chords
    .row
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('tiles')")
          img(src="img/tiles-small.png")
          p Tiles
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('scatter')")
          img(src="img/scatter-small.png")
          p Scatter
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('line')")
          img(src="img/line-small.png")
          p Line
    .row
      .col-md-4.col-xs-4.col-sm-4
        a(ng-click="select('highlight')")
          img(src="img/highlight-small.png")
          p Highlight
      
.modal-footer
  button.btn(ng-click="cancel()") Cancel
