.modal-header
  h3.modal-title Track data
.modal-body
  p Write one data point per line. You can paste excel spreadsheet here.
  .form-group
    textarea.form-control(
      ng-model="dataString"
      rows=10
      placeholder="{{header}}"
    )
    p Allowed separators are space, tabs, comma, semi-column etc.
.modal-footer
  button.btn(ng-click="cancel()") Cancel
  button.btn.btn-primary(ng-click="save()") Save
