form#heatmap-form.easy-circos-form
  accordion(close-others='true')
    track-settings
    track-data
    track-position
    
  a(href='https://docs.google.com/forms/d/1BQP-hnRP-eHL6_EUXWtitTF3CSZaZSpewsnalzot6wM/viewform?usp=send_form' target='_blank') Missing a parameter?
