doctype html
html(lang='en', ng-app='easyCircos')
  head
    title= easyCircos
    //bower:css
    //endbower

    //bower:js
    //endbower

    link(href='css/easyCircos.css', rel='stylesheet', type='text/css')
    script(src='js/app.js')
  body(ng-controller='mainCtrl')
    div(ng-controller='alertCtrl')
      alert.browser-warning(
        ng-repeat='alert in alerts'
        type='{{alert.type}}'
        close='closeAlert($index)'
      ) {{ alert.message }}
    header(ng-include='"modules/uiApp/views/header.html"')
    aside(ng-include='"modules/uiApp/views/sidebar.html"')
    .circos
      svg#chart
